<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a href="" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
            <a href="" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
        </div>
    </div>
</div>
<div ng-controller="UserViewController as controller" class="wrapper wrapper-content">
    <div class="row">
        <!--<div ng-repeat="name in 'abcdefghijklmnopqrstuvwxyz'.split('')"
             ng-show="(controller.users | filter: {lastName : name}).length">-->
        <div class="col-lg-4" ng-repeat="user in controller.users ">
            <div class="contact-box">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="text-center"><a ui-sref="admin.profile({userId:user.id})"><img ng-src="resources/img/{{user.image}}"
                                                                                       class="img-circle  img-responsive img-preview-sm"/></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>
                            <span ng-bind="user.firstName" class="font-noraml"></span>

                            <span ng-bind="user.lastName" class="font-bold"></span><br>

                            <span ng-bind="user.DOB" class="date "></span>
                        </p>
                    </div>

                    <div class="col-md-2">
                        <div class="btn-group-xs pull-right">
                            <button class="btn btn-link btn-xs" ng-click="controller.editUser(user)"><span class="fa fa-plus"></span></button>
                            <button class="btn btn-link btn-xs" ng-click="console.log('Button clicked')"><span class="fa fa-remove"></span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--</div>-->

    </div>
    <!--<div style="padding-bottom: 20px">
        <md-button class="md-fab md-fab-bottom-right fa fa-plus md-accent md-hue-2" md-theme="dark"
                   style="align-content: center;width: 56px;height: 56px; position: fixed; bottom: 3rem; right: 3rem"
                   ng-click="controller.addUser()"></md-button>
    </div>-->
</div>